    .card-list{
        z-index: 0;
        margin-top: 150px;
        & h1{
            margin-top: 15px;
        }
    }
    .card-grid {

        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
        gap: 15px;
        & :hover{
            cursor: pointer;
        }
        >* {
            display: grid;
         
            list-style: none;
            .preview-container {
                position: relative;
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .img-carousel {
                border-radius: 12px;
            }
            .fa-heart {
                z-index: 1;
                width: 22px;
                height: 21px;
                color: rgba(0, 0, 0, 0.5);
                position: absolute;
                right: 18px;
                top: 18px;
            }
            .fa-heart-outline {
                z-index: 1;
                width: 30px;
                height: 24px;
                position: absolute;
                right: 14px;
                top: 17px;
            }
            .liked {
                fill: rgb(255, 56, 92);
            }
            .name-price-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 6px;

                .stay-name {
                    width: 28ch;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 0.875rem;
                    margin-bottom: 3px;
                }
                .type{
                    text-transform: capitalize;
                }
                .card-type-loc{
                    margin: 2px 0;
                    font-size: 0.9375rem;
                        width: 29ch;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                }
                & svg {
                    color: $clr1;
                    height: 15px;
                    padding-top: 3px;
                }
                & a {
                    text-decoration: underline;
                    color: rgb(127, 127, 127)
                }
                
            }
            .card-stay-price , .reviews-rating{
                font-family: manrope-bold;
                // font-size: 1.125rem;
            }
            >*:not(label) {
                grid-area: 1 / 1;
            }
            .preview-footer{
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                color: rgb(34, 34, 34);
                font-size: 0.875rem;
            }
        }
    }
    .el-carousel__arrow{
        color: black;
        width: 32px;
        height: 32px;
        background-color: rgba(255, 255, 255, 0.863);
        &:hover{
            width: 32.5px;
            height: 32.5px;
            background-color: white;
        }
    }   
    .el-carousel__container{
        height: 250px;
        width: 100%;
    } 
